

<div class="ym-wrapper">
  <div class="ym-wbox">   
    <main>
      <div class="ym-column linearize-level-1">
        <div class="ym-col1">
          <div class="ym-cbox">
            <section class="box info">
              <h2>About H. Leroy Brown</h2>
              <p>I design compelling apps, intuitive interfaces, and engaging brands. All helping to improve response, drive sales, and boost profitability.</p>
              <p>Most of my work is done in <a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>, <a href="http://rubyonrails.org/" target="_blank">Rails</a>, <a href="http://sass-lang.com/" target="_blank">Sass</a>, and <a href="http://coffeescript.org/" target="_blank">Wordpress</a>. I&rsquo;m a huge fan of Ruby on Rails; it&rsquo;s unbeatable when it comes to rapid web application development. Much of the code in Ruby reads like regular English so it&rsquo;s intuitive and brings a certain ease of use – pretty ironic since Ruby originated in Japan. Ruby on Rails has a great flow, delivers fast, clean results, and lets me write beautiful code easily. It works exceptionally well with an <a href="http://agilemanifesto.org/" target="_blank">Agile approach to software development</a>.</p>
              <p>'m a freelance web developer based in Chicago, working on projects from all over the US. I've coded for clients in New York and here in Chicago.</p>
              <p>Over the past decade and a half, I&rsquo;ve built up some serious skills. As a freelance web designer, I have the privilege of working remotely for clients all over the world. I gained my staring client base here in Chicago, IL and provide professional services from small to large businesses of all kinds. Bottom line is, my work transcends expectations and delivers pure awesomeness on every level. Every time.</p>
              <a class="ym-button ym-primary" href="#">Read More</a>
            </section>
            <section class="ym-grid linearize-level-2">
              <article class="ym-g50 ym-gl">
                <div class="ym-gbox">
                  <!-- content -->
                  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
              </article>
              <article class="ym-g50 ym-gr">
                <div class="ym-gbox">
                  <!-- content -->
                  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
              </article>
            </section>
            <section class="ym-grid linearize-level-2">
              <article class="ym-g50 ym-gl">
                <div class="ym-gbox">
                  <!-- content -->
                  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
              </article>
              <article class="ym-g50 ym-gr">
                <div class="ym-gbox">
                  <!-- content -->
                  <h3>Heading</h3>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
              </article>
            </section>
          </div>
        </div>
        <aside class="ym-col3">
          <div class="ym-cbox">
            <h2>What I can do</h2>
            <h4>Core Skills</h4>
            <div class="ym-contain-dt">
              <img src="assets/logos/logos-resized/ruby.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/rails.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/wordpress.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/github.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/responsive.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/html5.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/css3.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/photoshop.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/jquery.png" alt="ads" class="float-left bordered"/>
              <img src="assets/logos/logos-resized/sass.png" alt="ads" class="float-left bordered"/>
            </div>
            <h4>Bonus Abilities</h4>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
              <li>Item 5</li>
            </ul>
          </div>
        </aside>
      </div>
    </main>   
    </div>
  </div>


