<header role="banner">
  <div class="ym-wrapper">
    <div class="ym-wbox">
      <img src="assets/big_eye.png">
      <h1>I'm a web developer...</h1>
      <h2>CSS Framework</h2>
      <p>I'm an independent Ruby (on Rails) and iOS developer based in Colchester, UK with nearly 15 years experience.</p>    
      <p>I've worked on a diverse range of projects, small and large. My clients include 37Signals, Oracle, LShift and Pusher.</p>
    </div></div>

                <div class="ym-contain-dt center">
              <img src="assets/logos/logos-resized/ruby.png" alt="ads"/>
              <img src="assets/logos/logos-resized/rails.png" alt="ads"/>
              <img src="assets/logos/logos-resized/wordpress.png" alt="ads"/>
              <img src="assets/logos/logos-resized/github.png" alt="ads"/>
              <img src="assets/logos/logos-resized/responsive.png" alt="ads"/>
              <img src="assets/logos/logos-resized/html5.png" alt="ads" />
              <img src="assets/logos/logos-resized/css3.png" alt="ads" >
              <img src="assets/logos/logos-resized/photoshop.png" alt="ads" />
              <img src="assets/logos/logos-resized/jquery.png" alt="ads"/>
              <img src="assets/logos/logos-resized/sass.png" alt="ads"/>
            </div>
</header>