<h1>H. Leroy Brown</h1>
 <h1>Skills</h1>
            <table>
              <tbody>
                <% @services.each do |service| %>
                  <tr>
                    <td>
                      <h4><%= service.name %></h4>
                      <table>
                        <% service.service_skills.each do |skill| %>
                          <tr>
                            <td>
                              <h6><%= skill.name %></h6>
                            </td>
                            <td>
                              <%= skill.description %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
