<!DOCTYPE html>
<html>
  <head>
    <title>T-Rex Designs</title>
    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-color: #00ff00;">
<!--     <video id="bgVideo" controls preload="false" autoplay loop muted>
      <source src="../assets/the_sun.mp4" type="video/mp4" > 
    </video> -->
    
    <%= yield %>

   
    <!-- full skip link functionality in webkit browsers -->
    <script src="../yaml/core/js/yaml-focusfix.js"></script>
  </body>
</html>
