<!DOCTYPE html>
<html>
<head>
  <title>H. Leroy Brown Resume - Ruby on Rails Developer</title>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% labels = (ServiceSkill.where(service_id: 1).to_a).map{|level| level[:name]} %>
<script>
$(function () { 
    $('#container').highcharts({
        credits: {
            enabled: false
        },
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: <%=  json_escape labels.to_json.html_safe %>    

        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: <%= (ServiceSkill.where(service_id: 1).to_a).map{|level| level[:my_skill_level]} %>
            
        }]
    });
});
</script>
</head>
<body>
<%= yield %>

</body>
</html>
